/target/

**/*.rs.bk

raw_assets/

screenshots/
*.log

dist/
pkg/
out/
wasm_output/

Thumbs.db
ehthumbs.db

.DS_Store

.vscode/
!.vscode/extensions.json
!.vscode/settings.json # Vous pouvez garder settings.json si vous voulez partager la config, sinon ignorez-le

.idea/
*.iml

config/local.toml
.env

Cargo.lock